body{
    margin: 0;
    padding: 0;
}
.mid{
    margin: 100px;
    width: 100%;
}
.mid .mid1{
    height: 100px;
    width: 10%;
    background-color: blueviolet;
    float: left;
}
.mid .mid2{
    height: 100px;
    width: 90%;
    float: left;
}
.top{
    height: 100px;
    width: 100%; 
}
.top .top1{
    height: 100px;
    width: 10%;
    float: left;
}
.top .top2{
    height: 100px;
    width: 10%;
    background-color:greenyellow;
    float: left;
}
.top .top3{
    height: 100px;
    width: 80%;
    float: left;
}
.abc{
    height: 100px;
    width: 100%;   
}
.abc .abc1{
    height: 100px;
    width: 20%;
    float: left;
}
.abc .abc2{
    height: 100px;
    width: 10%;
    background-color:gray;
    float: left;
}
.abc .abc3{
    height: 100px;
    width: 70%;
    float: left;
}
.ppt{
    height: 100px;
    width: 100%; 
}
.ppt .ppt1{
    height: 100px;
    width: 30%;
    float: left;
}
.ppt .ppt2{
    height: 100px;
    width: 10%;
    background-color: brown;
    float: left;
}
.ppt.ppt3{
    height: 100px;
    width: 60%;
    float: left;
}
.sss{
    height: 100px;
    width: 100%; 
}
.sss .sss1{
    height: 100px;
    width: 40%;
    float: left;
}
.sss .sss2{
    height: 100px;
    width: 10%;
    background-color: green;
    float: left;
}
.sss .sss3{
    height: 100px;
    width: 50%;
    float: left;
}