body{
    margin: 0;
    padding: 0;
}
.top-header{
    height: 37px;
    background-color: #7F9F80;
}
.top-right{
    height: 37px;
}
.top-header a{
    color: #fff;
    text-decoration: none;
}
.top-right li{
    display: inline-block;
}
.top-right li a{
     color: #fff;
    line-height: 37px;
     text-decoration: none;
     font-size: 10px;
     padding-left: 8px;
     font-weight: bold;
}
.top-right li a i{
      font-size: 4px;
      padding-right: 5px;
}
.menu-area{
    height: 80px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.logo-area p{
    color: #000;
    padding-left: 45px;
    font-size: 23px;
    text-transform: uppercase;
    padding-top: 24px;
    letter-spacing: 5px;
    font-family: serif;
}
.navi-area{
    height: 100px;
}
.navi-area nav a{
    color: #000!important;
    line-height: 50px;
    font-family: serif;
   font-size: 20px;
   margin-left: 6px!important;
   margin-right: 6px!important;
}
.btn-area .btn{
    border-radius: 0px;
}
#btn{
    padding: 12px 37px;
}
.slider{
    height: 550px;
}
.wlc-about p{
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 70px;
  color: #8d1c1e;
}
.bg-img{
    height: 600px;
}
.bg-card{
    height: 550px;
}
.bg-area{
    height: 550px;
   background-repeat: no-repeat;
   background-image: url('bg1.webp');
   width: 100%!important;
   background-size: cover;
}
.bg-area h2{
    padding-top: 300px;
    font-size: 40px;
    font-family: serif;
}
.bg-area1{
    background-image: url('photo2.jpeg');
    width: 100%!important;
    background-size: cover;
    height: 550px;
    background-repeat: no-repeat;
    
}
.bg-area2{
    background-image: url('bg3.jpeg');
    width: 100%!important;
    background-size: cover;
    height: 550px;
    background-repeat: no-repeat;
}
.bg-area1 h2{
      padding-top: 300px;
}
.bg-area2 h2{
    padding-top: 300px;
}
.msg-area{
    height: 500px;
}
.msg-area h2{
    font-size: 40px;
    font-family: serif;
    color: #8d1c1e;
}
.msg-area p{
    margin-left: 50px;
}
.msg-area btn{
    background-color: #8d1c1e;
}


