body{
    margin-left:20%;
}
.top{
    height: 550px;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
}
.top h1{
    background-color: greenyellow;
    border-radius: 15px;
    text-align: center;
}
.mid{
    height: 150px;
    width: 100%;
}
.mid .mid1{
    height: 150px;
    width: 30%;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 3%;
}
.mid .mid2{
    height: 150px;
    width: 30%;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 2%;
}
.mid .mid3{
    height: 150px;
    width: 30%;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 2%;
}
.ppt{
    height: 150px;
    width: 100%;
}
.ppt .ppt1{
    height: 150px;
    width: 30%;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 3%;
}
.ppt .ppt2{
    height: 150px;
    width: 30%;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 2%;
}
.ppt .ppt3{
    height: 150px;
    width: 30%;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 2%;
}
