body{
    margin: 0;
    padding: 0;
}
.leftbox{
    height: 100px;
    background-color: gold;
}
.main{
    height: 100px;
}
.box{
    height: 100px;
}
.left{
    height: 100px;
    background-color: red;
}
.leftbox1{
    height: 100px;
}
.box1{
    height: 100px;
}
.left1{
    height: 100px;
    background-color: green;
}
.leftbox11{
    height: 100px;
}